.background {
	    background: linear-gradient(180deg, #58baa4, #bfe2d4 36%, #fff);
}

@media (min-width: 768px) {
	.background {
		background-image: url("../../assets/new/Hero Section Background.png");
		background-size: cover;
	}
}
@media (max-width: 768px) {
	.logos {
		display: none;
	}
}

.about-bg {
	background: url("../../assets/new/About\ Bg\ Line.png");
	background-size: cover;
}

