.background{
    background-image: url("../../assets/new/Hero\ Section\ Background.png");
    background-size: cover
}
/* .logos{
    display: none;
} */

@media (max-width: 768px) {
    .logos{
        display: none;
    }
}

.about-bg{
    background: url("../../assets/new/About\ Bg\ Line.png");
    background-size: cover;
}